﻿#banner {
    position: absolute;
    left: 0;
    right: 0;
}
.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.hrstyle1 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    background-color: #BCC6CC;
    border-color: #BCC6CC;
}
.navbar .navbar-brand{
    color: rgb(0, 0, 0);
}
.navbar .navbar-nav li a{
    color: rgb(0, 0, 0);
}
.navbar .nav-item .dropdown-menu .dropdown-item{
    color: #BCC6CC;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: rgb(0, 0, 0);
    background-color: #BCC6CC;
    opacity:0.5;
}
.navbar-toggler {
    background-color: rgb(0, 0, 0);
}
#foot-style {
    width: 100%;
    position: absolute;
    bottom: 0;
}