﻿@model SilverLifestyle.Models.Class

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Date Posted</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassPostDate)
        </dd>

        <dt>
            <b>Location Name</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>

        <dt>
            <b>Class Description</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassDescription)
        </dd>

        <dt>
            <b>Location Latitude</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            <b>Location Longitude</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClassId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
