﻿@model IEnumerable<SilverLifestyle.Models.Class>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Classes Nearby</h2>
<div id="map" style="height:300px"></div>
<br />
<p>
    @Html.ActionLink("New Class", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <b>Date Posted</b>
        </th>
        <th>
            <b>Class Location</b>
        </th>
        <th>
            <b>Class Description</b>
        </th>
        <th>
            <b>Latitude</b>
        </th>
        <th>
            <b>Longitude</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="coordinates">
        <td>
            @Html.DisplayFor(modelItem => item.ClassPostDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td class="description">
            @Html.DisplayFor(modelItem => item.ClassDescription)
        </td>
        <td class="latitude">
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td class="longitude">
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClassId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ClassId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ClassId })
            </td>
        }
        else
        {
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ClassId })
            </td>
        }
    </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}
