﻿@model SilverLifestyle.Models.Post

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.PostDate != null)
        {
            <dt>
                <!--[at_symbol_here]Html.DisplayNameFor(model => model.PostDate)-->
                Post Date
            </dt>

            <dd>
            @Model.PostDate.Value.ToShortDateString()
            
            </dd>
        }

        <dt>
            Text
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostText)
        </dd>
        @if (Model.PostImage != null)
        {
            <dt>
                Image
            </dt>
            <dd>
                <img class="img-thumbnail" src='@Url.Content("~/Uploads/" + Model.PostImage)'
                     onerror="this.onerror=null" alt="">
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
