﻿@model IEnumerable<SilverLifestyle.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/customStyles.css">

<h2>Recent Posts</h2>

<p style="padding-bottom: 2rem">
    @Html.ActionLink("Tell Us Something New!", "Create")
</p>
<table class="table" style="table-layout:fixed; width:90%; margin: 0px auto;">
    @foreach (var item in Model.OrderByDescending(post => post.PostDate))
    {
        <tr>
            <td style="width:10%">
                @if (item.PostDate != null)
                {
                    <b>@item.PostDate.Value.ToShortDateString()</b>
                }
                else
                {
                    <b></b>
                }
            </td>
            <td>

                <p class="text" style="text-align:center; max-height:180px">@Html.DisplayFor(modelItem => item.PostText)</p>

                @if (item.PostImage != null)
                {
                    <img class="img-thumbnail center" style="max-width:60%; max-height:300px" src='@Url.Content("~/Uploads/" + item.PostImage)'
                         onerror="this.onerror=null" alt="">
                }
                else
                {
                    <img class="img-rounded" style="max-width:60%; max-height:300px" src='@Url.Content("~/Uploads/" + item.PostImage)'
                         onerror="this.onerror=null" alt="">
                }

            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td style="width:10%">
                    @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                </td>
            }
            else
            {
                <td>@Html.ActionLink("Details", "Details", new { id = item.PostId })</td>

            }
        </tr>
    }

</table>
