﻿@{
    ViewBag.Title = "Striving for Positive Change...";
}
<h2>@ViewBag.Title.</h2>
<br/>

<center>
    <img class="col-lg-4 col-md-6 col-sm-4 img-rounded" style="height: 30vh" src="~/Resources/rainbow-food_stock.jpg")/>
</center>

<p>People are working hard toward becoming more health-conscious and striving toward more active lifestyles. This movement is in part to combat the role technology has played as a distraction from daily tasks, typically discouraging physical activity and healthy eating in favour of convenience. However, this has changed. With the advent of mobile devices, technology is not solely a distraction, it is now a powerful tool to aid in the day-to-day lives of millions. Mobile devices and applications are being used to collect biometric data, inform healthcare decisions, and connect people like never before.</p>
<br/>
<p>Silver Lifestyle is a place where health conscious people can discover and share ways to make their lives fitter, healthier and better! It’s a place for people to share recipes, achievements, and other tips, tricks, and secrets they feel has increased their fitness, or generally improved their health and wellbeing. The application even offers users the ability to find nearby fitness classes to take part in.</p>