﻿@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/customStyles.css">
@model IEnumerable<SilverLifestyle.Models.Post>

<div class="row">
    <img src="~/Resources/runner-1.png" class="img-responsive col-lg-12 col-md-12 col-sm-12" />
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>SilverLifestyle</h1>
        <p class="lead">Health and Wellbeing, on the move...</p>
    </div>
</div>
<hr class="hrstyle1">

<!-- Shows the most recent three posts (or less if there aren't three posts -->
<h3>Recent Posts:</h3>
@{ int upper = 3; }             <!-- Sets the max number of previews -->
@{ if (Model.Count() < 3)
    {
        upper = Model.Count();
    }
}
<div class="row" style="height: 5vh">
    @for (int i = 0; i < upper; i++)
    {
        if (Model.ElementAt(i).PostDate != null)
        {
            <b class="col-lg-4 col-md-4 col-sm-4">@Model.ElementAt(i).PostDate.Value.ToShortDateString()</b>
        }
        else
        {
            <b></b>
        }
    }
</div>
<div class="row" style="height: 8vh">
    @for (int i = 0; i < upper; i++)
    {
    <div class="col-lg-4 col-md-4 col-sm-4 text">@Model.ElementAt(i).PostText</div>
    }
</div>
<div class="row" style="height: 15vh">
    @for (int i = 0; i < upper; i++)
    {
        <img class="col-lg-4 col-md-4 col-sm-4 img-responsive" style="max-height: 28vh;" src='@Url.Content("~/Uploads/" + Model.ElementAt(i).PostImage)'
             onerror="this.onerror=null" alt="">
    }
</div>